
@page "/criminal/not-guilty-appear-bond-special"
@inherits FormPageBase<NotGuiltyAppearBondSpecialDto>

<div class="form-page">
<div class="form-card">
<h2>Not Guilty Plea / Appear on Warrant / Bond Modification Special Bond Conditions Dialog</h2>

<EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
	<FluentValidationValidator />
	<ValidationSummary />
	<div class="form-group">
		<label>Defendant First Name</label>
		<InputText class="form-control" @bind-Value="Model.DefendantFirstName" />
		<ValidationMessage For="@(() => Model.DefendantFirstName)" />
	</div>
	<div class="form-group">
		<label>Defendant Last Name</label>
		<InputText class="form-control" @bind-Value="Model.DefendantLastName" />
		<ValidationMessage For="@(() => Model.DefendantLastName)" />
	</div>
	<div class="form-group">
		<label>Case Number</label>
		<InputText class="form-control" @bind-Value="Model.CaseNumber" />
		<ValidationMessage For="@(() => Model.CaseNumber)" />
	</div>
	<div class="form-group">
		<label>Bond Type</label>
		<InputText class="form-control" @bind-Value="Model.BondType" />
	</div>
	<div class="form-group">
		<label>Bond Amount</label>
		<InputText class="form-control" @bind-Value="Model.BondAmount" />
	</div>
	<div class="form-group">
		<label>Bond Modification Decision</label>
		<InputText class="form-control" @bind-Value="Model.BondModificationDecision" />
	</div>
	<div class="form-group">
		<label>No Contact Name</label>
		<InputText class="form-control" @bind-Value="Model.NoContactName" />
	</div>
	<div class="form-group">
		<label>Custodial Supervision Supervisor</label>
		<InputText class="form-control" @bind-Value="Model.CustodialSupervisionSupervisor" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Objection</label>
		<InputText class="form-control" @bind-Value="Model.AdminLicenseSuspensionObjection" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Disposition</label>
		<InputText class="form-control" @bind-Value="Model.AdminLicenseSuspensionDisposition" />
	</div>
	<div class="form-group">
		<label>Admin License Suspension Explanation</label>
		<InputText class="form-control" @bind-Value="Model.AdminLicenseSuspensionExplanation" />
	</div>
	<div class="form-group">
		<label>Vehicle Make/Model</label>
		<InputText class="form-control" @bind-Value="Model.VehicleMakeModel" />
	</div>
	<div class="form-group">
		<label>Vehicle License Plate</label>
		<InputText class="form-control" @bind-Value="Model.VehicleLicensePlate" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="Model.TowToResidence" />
		<label>Tow to Residence</label>
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="Model.MotionToReturnVehicle" />
		<label>Motion to Return Vehicle</label>
	</div>
	<div class="form-group">
		<label>State Opposes</label>
		<InputText class="form-control" @bind-Value="Model.StateOpposes" />
	</div>
	<div class="form-group">
		<label>Disposition Motion to Return</label>
		<InputText class="form-control" @bind-Value="Model.DispositionMotionToReturn" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="Model.VacateResidence" />
		<label>Vacate Residence</label>
	</div>
	<div class="form-group">
		<label>Residence Address</label>
		<InputText class="form-control" @bind-Value="Model.ResidenceAddress" />
	</div>
	<div class="form-group">
		<label>Exclusive Possession To</label>
		<InputText class="form-control" @bind-Value="Model.ExclusivePossessionTo" />
	</div>
	<div class="form-group">
		<InputCheckbox @bind-Value="Model.SurrenderWeapons" />
		<label>Surrender Weapons</label>
	</div>
	<div class="form-group">
		<label>Surrender Weapons Date</label>
		<InputText class="form-control" @bind-Value="Model.SurrenderWeaponsDate" />
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success">Open Entry</button>
		<button type="button" class="btn btn-danger" @onclick="CloseOrCancel">Close Dialog</button>
		<button type="button" class="btn btn-secondary" @onclick="CloseOrCancel">Cancel</button>
		<button type="button" class="btn btn-warning" @onclick="ClearFields">Clear Fields</button>
	</div>
</EditForm>

@if (ErrorMessage != null)
{
	<div class="alert alert-danger">@ErrorMessage</div>
}
@if (SubmitResult != null)
{
	<div class="alert alert-success">@SubmitResult</div>
}
</div>
</div>
@code {
	protected override string ApiEndpoint => "notguiltyappearbondspecial";
}
